/**
 * Created by andrei on 29/08/2017.
 */

.navbar-avatar {
    max-height: 21px;
    width: auto;
    border-radius: 50%;
    border: solid 1px;
    border-color: orange;
    background-color: white;
}

.profile-avatar {
    border-radius: 50%;
    border: solid 3px;
    border-color: orange;
    background-color: white;
    width: 100%;
    height: auto;
}

.g-recaptcha div:first-child {
    margin: auto;
}

h1 {
    margin-top: 0;
}

.badge-notify {
    background: red;
    position: absolute;
    margin: 12px 0;
    border-radius: 3px;
    font-size: 10px;
}

@media (max-width: 768px) {
    .cart-add {
        width: 100%;
        margin-top: 10px;
    }
}

.navbar-brand img {
    height: 100%;
    width: auto;
}